<div id='forum_<%= @topic.id %>' class='topic'>
  <div class="topic_name"><%= @topic.subject %></div>

  <div class="forum_header-links">
    <%= link_to t("forem.post.new"), new_forum_topic_post_path(@topic.forum, @topic) ,  {:rel=>"facebox", :class=>"button1"} %>
  </div>

<table width="100%" cellspacing="1" cellpadding="2" border="0" class="forum">
  <%=content_tag :tbody do%>
    <tr>
    	<th nowrap="nowrap" height="25"  colspan="2">&nbsp;Topics&nbsp;</th>
    	<th width="50" nowrap="nowrap">&nbsp;Posts&nbsp;</th>
    	<th nowrap="nowrap">&nbsp;Last Post&nbsp;</th>
    </tr>
       <% @topic.posts.each do |post| %>
        <%=content_tag :tr,:class=>"#{cycle('odd', 'even')}" do %>    
          <!-- logic to determine whether messages are new -->
          <td valign="middle" height="50" align="center"><%=image_tag "email.png",:alt=>"New posts" %></td>
          <td width="100%" height="50">
          <%=post.body %>  
          </td>
          <td valign="middle" nowrap="nowrap" height="50" align="center"> Thu Mar 31, 2011 1:19 pm<br><%= link_to "user_name", "#"%> </td>
        <%end%>
      <%end%> 
  <%end%>
</table>
</div>  

<% content_for :stylesheets do %>
<%=stylesheet_link_tag('refinerycms-forum')%>
<%=stylesheet_link_tag('facebox')%>
<%end%> 

<% content_for :javascript_libraries do %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>    
<%end%>

<% content_for :after_javascript_libraries do %> 
  <%=javascript_include_tag  'facebox'%>   
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox({
        loadingImage : '/facebox/loading.gif',
        closeImage   : '/facebox/closelabel.png'})})
  </script>
<% end %>
