<h2><%= t("forem.topic.new") %></h2>

<%= simple_form_for [@forum, @topic], :as => :topic, :url => forum_topics_path do |f| %>
  <%= f.input :subject %>
  <%= f.simple_fields_for @post do |posts_form|%>
    <%= posts_form.input :name%>
    <%= posts_form.input :email%>    
    <%= posts_form.input :body,  :label => false   %>  
  <%end%>
  <%= f.submit %>


<% end %>